/* Base styles */
.user-list-container {
    width: 100%;
    max-width: 870px;
    background: #FFFFFF;
    border-radius: 4px;
}

.search-bar {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 4px;
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #EEE;
}

.user-item:last-child {
    border-bottom: none;
}

.username, .user-id {
    font-size: medium;
    color: #333;
    margin-left: 10px; /* Ensure all user IDs start from the same point */
}

.verify-button, .action-button {
    padding: 8px 16px;
    background-color: #8A2BE2;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #9B30FF;
}

/* Styles for tablets and small desktops */
@media (max-width: 1024px) {
    .search-bar, .user-item {
        padding: 10px 5%;
    }

    .action-button {
        padding: 6px 12px;
    }
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    .search-bar {
        padding: 8px 10px;
        font-size: 14px;
    }

    .user-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #EEE;
    }
    
    .user-id {
        font-size: medium;
        color: #333;
        width: 80px; /* Fixed width to ensure uniform alignment */
        text-align: center; /* Ensures text is aligned to the left within the given width */
    }
    .username, .user-id {
        font-size: 14px;
        align-items: center;
    }

    .action-button {
        width: 100%;
        padding: 10px 0;
    }
}

/* Styles for very small screens */
@media (max-width: 480px) {
    .search-bar {
        margin-bottom: 15px;
    }

    .user-item {
        padding: 8px 5px;
    }
}

/* Modal styles */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal-content {
    background: white;
    color: black;
    padding: 30px; /* Increased padding for better appearance */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 450px; /* Increased width */
    height: 250px; /* Increased height */
    max-width: 90%; /* Ensure it doesn't exceed the screen width */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space elements inside modal */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px; /* Larger X */
    font-weight: bold;
}

.verify-button, .reject-button {
    cursor: pointer;
    padding: 10px 20px; /* More padding for a better touch target */
    border-radius: 25px; /* Rounded edges */
    color: white;
    font-size: 16px;
    border: none;
    width: auto;
}

.verify-button {
    padding: 8px 16px;
    background-color: #8A2BE2;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.unverify-button {
    padding: 8px 16px;
    background-color: #3d3d3d;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.rejection {
    height: 20%;
    width: 30%;
    margin: 0 auto;
    background-color: #cfcfcf; 
    border-radius: 20px;
}
.verification {
    height: 20%;
    width: 30%;
    margin: 0 auto;
    background-color: #24ee3f;
    border-radius: 20px;

}

.buttons-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
